@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ef565d;
  --secondary: #73b9eb;
  --blue: #53ACEC;
  --grey: #CACACA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #07081f;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-fustat), Arial, Helvetica, sans-serif;
}

.font-kantumruy {
  font-family: 'Kantumruy', var(--font-fustat), Arial, Helvetica, sans-serif;
}
